.wood_logo {
  width: 180px;
  float: left;
  cursor: pointer;
  /* margin: 5px 5px 5px 25px; */
}

.nav-buttons-left {
  /* float: left; */
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 50%;
  margin-top: 17px;
  position: relative;
  margin-left: 15px;
}

.nav-buttons-right {
  float: right;
  /* display: inline-block; */
  vertical-align: middle;
  width: 400px;
  height: 50%;
  margin-top: 17px;
  position: relative;
}

.red_bg {
  position: relative;
  background-color: #ba2231;
  width: 100%;
  height: 117px;
  margin-top: -20px;
}

.pdfContainerStand {
  position: relative;
  background-color: #000;
  opacity: .15;
  width: 100%;
  margin: 0 auto;
  height: 900px;
  margin-top: -56px;
  border-radius: 20px;
  border: 2px solid white;
}

/* #btn1, #btn2, #btn3, #btn4, #btn5 {} */

.btn-primary {
  border-radius: 24px;
  font-weight: 700;
  background-color: #eee;
  border-color: #D3D3D3;
  color: #99494e;
  /*set the color you want here*/
}

.btn-primary:hover,.btn-primary:focus, .btn-primary.active ,.open>.dropdown-toggle.btn-primary {
  /* border-radius: 24px; */
  font-weight: 700;
  color: #fff;
  background-color: #ba2231 !important;
  border-color: #D3D3D3 !important;
  box-shadow: none !important;
  outline: none !important;
  /*set the color you want here*/
}


#btnSearch {
  font-weight: 700;
}

/* CUSTOM HEADER COLOR */

.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.addShadow{
  text-shadow: 1px 2px #000;
}


/* CUSTOM MODAL */


.modal-ku {
  width: 420px;
  margin: auto;
}

/* Custom List */

#myForm{
  left: -196px !important;
  width: 302px;
  padding: 10px;
  background-color: #eee;
  color: #99494e;
  margin: auto;
}


/* custom Glyphicons color */

.setColor{
  color: #F0E68C;
}


.btn-pill-left{
  border-radius: 500px 0 0 500px;

}
.btn-pill-right{
  border-radius: 0 500px 500px 0;
}


/* CUSTOM HOME Button*/

.btn-default {
  border-radius: 24px;
  font-weight: 700;
  background-color: #ae1f2d;
  border-color: #1e0507;
  color: #fff;
  /*set the color you want here*/
}

.btn-default:hover,.btn-default:focus, .btn-default.active ,.open>.dropdown-toggle.btn-default {
  /* border-radius: 24px; */
  color: #ffc24b;
  background-color: #ba2231 !important;
  border-color: #1e0507 !important;
  box-shadow: none !important;
  outline: none !important;
  /*set the color you want here*/
}

#modal_Option{
   position: absolute;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   /* overflow: auto;
   overflow-y: auto; */
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f6c8cb;
}


.popover {
  top: 41px !important;
  left: 208px !important;
  max-width: 310px;
}
.popover > .arrow{
display: none;
}

.popover-content{
  left: -196px;
  width: 302px;
  padding: 10px;
  background-color: #eee;
  color: #99494e;
  margin: auto;
}

#articleSub{
  width: 280px;
  border: #000 1px solid;
}